* {
    font-family: "Lato", sans-serif;
  }
  
  html {
    font-size: 100%;
  }
  
  body {
    margin: 0;
    margin-bottom: 5%;
  }
  
  a {
    text-decoration: none;
  }
  
  /*Navigation*/
  nav {
    padding-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav h1 {
    margin-left: 5%;
    font-size: clamp(16px, 1.5vw, 30px);
    color: #ff8500;
    font-weight: bolder;
  }
  
  nav ul {
    margin-right: 10%;
    display: flex;
    list-style: none;
    font-weight: bold;
  }
  
  nav li {
    font-size: clamp(16px, 1.5vw, 30px);
    margin-right: 10%;
  }
  
  nav a {
    color: #ff8500;
    white-space: nowrap;
  }

  /*Main Content*/
  .section{
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    padding: 3% 0;
    background-color: #FFFBFB;
    border: 1px solid #75756a;
  }

  .subtitle {
    margin-top: 0;
    margin-left: 5%;
    font-size: clamp(20px, 2.5vw, 26px);
    font-weight: 400;
  }

  #low_risk_text{
    color: #848f17;
  }

  #medium_risk_text{
    color: #9a9d00;
  }

  #high_risk_text{
    color: #ff8500;
  }

  .strategy_text {
    width: 95%;
    margin: 0 auto;
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .column {
    width: 30%;
  }
  
  img {
    height: clamp(30px, 3vw, 35px);
    width: auto;
    margin-right: 10px;
    margin-left: 0;
  }
  
  h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: clamp(20px, 2.5vw, 26px);
    font-weight: bold;
    margin: 0;
  }
  
  li {
    margin-top: 2%;
    margin-bottom: 0;
    font-size: clamp(16px, 1.3vw, 24px);
    line-height: clamp(20px, 2vw, 37px);
  }
  
  .strategy_text a {
    color: #ff8500;
    font-size: clamp(16px, 1.3vw, 24px);
    line-height: clamp(20px, 2vw, 30px);
    text-decoration: underline;
  }
  
  a:visited {
    color: #ff8500;
  }

  .download {
    color: white;
    background-color: #ff8500;
    width: 15vw;
    height: 3.5vw;
    border-radius: 20px;
    border: none;
    font-size: clamp(16px, 1.5vw, 25px);
    font-weight: bold;
    transition: all 0.5s;
    margin-top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 5%;
  }
  
  .download a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .download:hover {
    background-color: #848f17;
  }

  @media (orientation: portrait) {
    nav {
      padding-top: 5%;
    }

    nav h1 {
      font-size: clamp(18px, 1.5vw, 30px);
    }
    
    .section{
      margin: 5% auto;
      width: 90%;
      padding: 5% 1%;
    }

    .subtitle{
      font-size: clamp(22px, 2.5vw, 26px);
      margin-top: 3%;
      margin-bottom: 0;
    }
 
    .strategy_text {
      margin-top: 30px;
      width: 100%;
      flex-direction: column;
    }
  
    .column {
      width: 90%;
      padding-left: 0;
      margin-left: 5%;
      margin-top: 2%;
      margin-bottom: 3%;
    }
  
    .strategy_text h3 {
      font-size: clamp(22px, 2.5vw, 26px);
      margin: 0;
      margin-bottom: 3%;
    }
  
    .strategy_text ul {
      margin-top: 0;
    }
  
    .strategy_text li {
      margin-top: 1%;
      margin-bottom: 0;
      font-size: clamp(20px, 1.5vw, 24px);
      line-height: clamp(28px, 7vw, 4000px);
    }
  
    .strategy_text a {
      font-size: clamp(20px, 1.5vw, 24px);
    }

    .download{
      width: clamp(160px, 15.5vw, 200px);
      height: clamp(45px, 4vw, 50px);
      font-size: clamp(20px, 1.5vw, 25px);
      margin-top: 0px;
    }
  
    .download img {
      width: 25px;
      height: auto;
      margin-right: 5px;
    }

  }